<div class='form-group'>
    <div class='col-md-4'>
    </div>
    <% if current_user && (current_user.premium? || current_user.admin?) %>
    <div class='col-md-8'>
        <h4>Add New Collaborators</h4>
        
        <%= form_for [@wiki, Collaborator.new] do |f| %>
            <%= email_field_tag :collaborator %>
            <%= f.submit "Add collaborator", class: 'btn btn-primary' %>
        <% end %>
        
        <h4>Manage Collaborators</h4>
        
        <% wiki.collaborators.each do |c| %>
            <% user = User.find(c.user_id) %>
            <%= user.email %>
            <%= link_to "Delete", wiki_collaborator_path(@wiki, c), class: 'btn btn-danger', method: :delete %>
        <% end %>
    </div>
    <% end %>
</div>