<!DOCTYPE html>
<html>
<head>
  <title>C&C Landscaping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
      <% if user_signed_in? %>
         <li class="navbar-text">Signed in as: <strong><%= current_user.email %></strong></li>
         <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
         <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
         <li><%= link_to "My Jobs", jobs_path, :class => 'navbar-link' %></li>
         <li><%= link_to "Request a Job", new_job_path, :class => 'btn btn-success' %></li>
       <% else %>
         <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li> 
         <li><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
       <% end %></li>
    </ul>
  </div>

<%= yield %>

</body>
</html>
